#navigation-bar{
    background-color: #A5CFCD;
}

#navbar-awal{
    background-color: #A5CFCD;
}

#navigation-bar a {
    color: black;
    font-family: "Poppins";
}

#navigation-bar .dropdown-item {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#navigation-bar .dropdown-menu {
    padding: 0px;
}

#navigation-bar .dropdown-menu a:hover {
    color: #1f5fbe;
}

#bg {
	
    background-image: url("/img/backgroundutama.jpeg");
    background-size: cover;
    width: 1314px;
    height: 570px;
    margin-top: -17px;
    margin-left: -110px;
    margin-bottom: -10px;

}

#judul {
    color: white;
    font-size: 55px;
    padding: 30px;
    padding-top: 110px;
    margin-left: 130px;
}

#judul-program {
    color: black;
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins";
    margin-left: 15 px;
}

#text {
    color: rgba(255, 255, 255, 0.671);
    font-size: 18px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 143px;
}

#text2 {
    color: rgba(255, 255, 255, 0.671);
    font-size: 18px;
    padding: 20px;
    margin-top: -65px;
    margin-left: 143px;
}

#tombol {
    color: rgba(245, 245, 245, 0.815);
    background-color: hsl(120, 100%, 20%);
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    margin-left: 170px;
    margin-top: 20px;
}

#btn1 {
    color: white;
    background-color: darkgreen;
    padding: 7px;
    width: 90px;
    margin-right: 28px;

}

#btn2 {
    color: white;
    background-color: darkgreen;
    padding: 7px;
    width: 90px;
    margin-right: -50px;
}

#student-create {
    padding: 125px;
    background-color: rgba(199, 199, 199, 0.101);
    margin-top: 70px;
}

#gambar-report {
    margin-left: -35px;
    width: 395px;
    height: 650px;
}

#penjelasan {
    background-color: #5CE1E6;
    padding: 25px;
    margin-top: 5px;
}

#jenis {
    background-color: #A5CFCD;
    padding: 25px;
    margin-top: 5px;
}

#sanksi {
    background-color: #5CE1E6;
    padding: 25px;
    margin-top: 5px;
}

#dampak {
    background-color: #A5CFCD;
    padding: 25px;
    margin-top: 5px;
    margin-bottom: -10px;
}

/* The footer is fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
}


.footer-distributed{
	background-color: #2c292f;
    height: 300px;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 50px 50px;
	margin-top: 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
    margin-top: 10px;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Lora', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #5CE1E6;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
    margin-left: 40px;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color: white;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
